.container {
  margin: 100px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  transition: all 1s; 
  animation: color-change 5s ease-in-out 2s infinite;
}

@keyframes color-change {
  0% {  
    background-color: salmon;
  }
  100% {
    background-color: cornflowerblue;
  }
}
