.container {
  margin: 100px;
}

.box {
  width: 100px;
  height: 100px;
  transition: all 1s; 
  animation: color-change 5s ease-in-out 1s infinite alternate;
}

.box1 {
   width: 100px;
  height: 100px;
  margin-top:100px;
  background-color: aquamarine;
  animation: linear infinite alternate;
  animation-name: move-side;
  animation-duration: 2s;
}

@keyframes color-change {
  0% {  
    background-color: salmon;
  }
  100% {
    background-color: cornflowerblue;
  }
}

@keyframes move-side {
  from {
     transform: translateX(0);
  }
  
  to {
     transform: translateX(500px);
  }
}
