body {
  padding:0;
  margin:0;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:180px;
  height:60px;
  text-align:center;
  line-height: 60px;
  text-transform: uppercase;
  font-size:24px;
  letter-spacing:2px;
  color: #000;
  text-decoration:none;
  transition:0.5s;
}

a svg ,
a svg rect {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  fill:transparent; 
}

a svg rect {
  stroke: #000;
  stroke-width: 4;
  transition: 1.5s;
  stroke-dasharray: 480;
  stroke-dashoffset: 480;
}

a:hover svg rect {
  stroke-dashoffset: 0;
}

a:hover {
  background: palegreen;
  transition-delay: 1.5s
}
